<launch>
    <!-- Before running the launch file. Make sure your conda environment is switched so that segmentation and tracking can work -->
    <arg name="map_cfg" default="options_kitti360.yaml" />
    <arg name="object_info_cfg" default="object_info_kitti360.csv" />

    <node pkg="semantic_dsp_map" type="mapping" name="mapping" output="screen" args="$(arg map_cfg) $(arg object_info_cfg)" />

</launch>
